@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(75deg, #70d6ff, #118ab2);

}

.parentContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 2rem;
    width: 500px;
    margin: 0 auto;
}
.toDoContainer {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.inputContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 30px;
    height: 60px;
    background-color: #edf6f9;
    padding: 10px;

}

.inputContainer button {
    font-size: 20px;
    padding: 7px;
    background-color: #ffddd2;
    border: none;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
}

.inputContainer input {
    outline: none;
    border: none;
    background-color: #edf6f9;
    font-size: 20px;
    flex: 1;
}

.inputContainer input::placeholder {
    font-size: 20px;
}
h1 {
    text-align: center;
    color: #fed9b7;
    margin-top: 5px;
}

h1 .fa-list {
    color: white;
}

#notification {
    text-align: center;
    color: #118ab2;
    margin-top: 15px;
}

.listItems {
    margin-top: 30px;
}

.listItems li {
    margin-top: 10px;
    list-style-type: none;
    background-color: #edf6f9;
    padding: 10px 7px 10px 30px;
    border-radius: 8px 10px;
    display: flex;
    text-align: center;
    position: relative;
    font-size: 18px;
    cursor: pointer;
}

.listItems li span {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1.1rem;
    font-size: 20px;
    margin-top: 5px;
    position: absolute;
    right: 5px;
}



.listItems li::before {
    content: '';
    width: 20px;
    height: 20px;
    background: #ffddd2;
    border-radius: 50%;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 2px;
    position: absolute;
    left: 5px;
    top: 12px;
}


.listItems li.checked {
    color: darkgray;
    text-decoration: line-through;
}

.listItems li.checked::before {
    background-image: url("./checkmark.png");
}

/* animation for adding new task*/

li {
    opacity: 0;
    animation: new-item-animation 0.3s linear forwards;
  }
  
  @keyframes new-item-animation {
    from {
      opacity: 0;
      transform: translateY(-400px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

#editBtn {
    cursor: pointer;
}

#deleteBtn {
    cursor: pointer;
    
}



@media screen and (max-width: 593px) {
    .parentContainer {
        width: 400px;

    }

}

@media screen and (max-width: 486px) {
    
    .inputContainer input::placeholder {
        font-size: 15px;
    }

    .inputContainer button {
        font-size: 15px;
        padding: 7px;
        border-radius: 18px;
    }

    .inputContainer input {
        font-size: 15px;
    }

    .inputContainer {
        border-radius: 30px;
        height: 50px;
        padding: 10px;
    }

    .parentContainer {
        width: 370px;
        min-height: 50vh;

    }


    .listItems li::before {
        width: 18px;
        height: 18px;
        margin-top: 1px;

    }

    #notification {
        font-size: 13px;
    }


    body {
        background: #118ab2

    }

    .listItems li span {
        gap: 1rem;
        font-size: 18px;
        margin-top: 6px;

    }

    .listItems  li{
        padding: 8px 6px 8px 29px;


    }
}


@media screen and (max-width: 400px) {
    .parentContainer {
        width: 340px;
    }

    .inputContainer button {
        font-size: 12px;
        padding: 7px 10px;
    }
}

@media screen and (max-width: 379px){
    .parentContainer {
        width: 320px;
    }

    .listItems  li {
        font-size: 12px;
    }

    .listItems li::before {
        width: 17px;
        height: 17px;
        margin-top: 0.2rem;
        top: 5px;
    }
}

@media screen and (max-width: 345px) {
    .parentContainer {
        width: 300px;
        min-height: 50vh;
    }
}